.content {
    padding: 1em;
}

.content-box {
    margin: 1ex;
    padding: 1em;
    border: solid black 1px;
}

.logo {
    height: 4em;
    position: relative;
    float: left;
}

.acronym {
    font-style: italic;
    font-size: x-small;
    color: #999;
}

.initial {
    font-style: italic;
    color: black;
}

.title-bar {
    padding: 0.5em;
    height: 4em;
    margin: 0;
    margin-left: 1ex;
    margin-right: 1ex;
    text-align: center;
}

.title-bar h1 {
    margin: 0;
}

#search-view {
    overflow-x: hidden;
    overflow-y: auto;
}

.search-result {
    margin-left: 0;
    margin-top: 0.5em;
}

.search-result a:visited, a:link {
    padding: 2px;
    display: block;
    background: #eee;
    color: black;
    text-decoration: underline;
    cursor: pointer;
    margin: 0;
}

.search-result a:hover, a:active {
    color: #33f;
}

.soustitre {
    font-size: small;
    padding: 2px;
}

.soustitre p {
    margin: 0;
}

.extrait {
    padding: 2px;
    display: block;
    margin: 0;
}

.search-result h4 {
    padding: 1ex;
    margin-top: 0;
    margin-bottom: 0;
}

#document-box {
    display: none;
}

/* This is Pure's "medium" breakpoint */
@media screen and (min-width: 48em) {
    #search-view, #document-view {
        height: 75vh;
    }

    #document-box {
        display: block;
        overflow: auto;
    }

    .acronym {
        font-size: small;
    }
}
